@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  min-height: 100vh;
}
